<div class="container">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Escriba su mensaje..."
      aria-label="Msj"
      aria-describedby="basic-addon2"
      id="msjNuevo"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="btnChat"
      >Enviar</button>
    </div>
  </div>
  <div>
    <p id="msjHistorico"></p>
  </div>
</div>