<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center">
          <img
            src="https://img.freepik.com/free-vector/supermarket-logo-concept_23-2148467758.jpg?w=826&t=st=1695253570~exp=1695254170~hmac=a87eb3dc7d36eb9f66688078771641a35dda97902292562b4c135f3bea0b87c2"
            alt="logo"
            width="175"
          />
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
            <form id="loginForm">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  name="email"
                  value=""
                  required
                  autofocus
                />
                <div class="invalid-feedback">
                  Email is invalid
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label class="text-muted" for="password">Password</label>
                </div>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  required
                />
                <div class="invalid-feedback">
                  Password is required
                </div>
              </div>

              <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary ms-auto">
                  Login
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              <a href="/api/sessions/github"><button
                  id="btnGitHub"
                  type="button"
                  class="btn btn-info"
                >
                  <i class="fa-brands fa-github"></i>
                  Login with GitHub
                </button></a>
            </div>
            <div class="text-center">
              Don't have an account?
              <a href="/register" class="text-dark">Create One</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>