<div class="container">
  <h2 class="display-2">Crear nuevo Producto</h1>
  <form id="formProduct">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" required/>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="description" name="description" required/>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <select class="form-select" aria-label="Seleccione una categoría" id="category" name="category" required>
          <option selected>Seleccione una categoría</option>
          <option value="Comestible">Comestible</option>
          <option value="Fruta">Fruta</option>
          <option value="Bebidas">Bebidas</option>
          <option value="Verduras">Verduras</option>
          <option value="Electrónicos">Electrónicos</option>
          <option value="Otro">Otro</option>
        </select>
      </div>       
        <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" class="form-control" id="price" min="0" name="price" required/>
      </div>
      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock" min="0" name="stock" required/>
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Código</label>
        <input type="text" class="form-control" id="code" name="code" required/>
      </div>
      <button type="submit" class="btn btn-primary">Crear Producto</button>
  </form>
</div>